<div id="<%= dom_id currency %>">
  <p>
    <strong>Source currency:</strong>
    <%= currency.source_currency %>
  </p>

  <p>
    <strong>Target currency:</strong>
    <%= currency.target_currency %>
  </p>

  <p>
    <strong>Exchange rate:</strong>
    <%= currency.exchange_rate %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= currency.date %>
  </p>

</div>
