<h1> Find exchange rate </h1>
<% currencies = [
  'USD', 'EUR','JPY', 'BGN', 'CZK', 'DKK', 'GBP', 'HUF', 'PLN', 'RON', 'SEK',
  'CHF', 'ISK', 'NOK', 'HRK', 'RUB', 'TRY', 'AUD', 'BRL', 'CAD', 'CNY',
  'HKD', 'IDR', 'ILS', 'INR', 'KRW', 'MXN', 'MYR', 'NZD', 'PHP', 'SGD',
  'THB', 'ZAR'
] %>

<%= form_tag(result_currencies_path, method: :get) do %>
  <div>
    <%= label_tag 'currency', 'Select Currency:' %>
    <%= select_tag 'currency', options_for_select(currencies), required: true %>
  </div>

 <div style = "text-align:center">
    <%= label_tag 'currency2', 'Select Currency to convert to:' %>
    <%= select_tag 'currency2', options_for_select(currencies), required: true %>
</div>

<div style = "margin-top:40px">
    <%= label_tag 'date', 'Date:' %>
    <%= date_field_tag 'date', nil, required: true %>
</div>

   <div style = "margin-top:40px">
    <%= label_tag 'amount', 'Enter amount:' %>
    <%= number_field_tag 'amount', nil, required: true, class:'integer', min:0 %>
  </div>

  <%= submit_tag 'Submit' %>
  <%= link_to 'Go back', currencies_path%>
<% end %>

<script>
    var amountInput = document.getElementById('amount');
    amountInput.addEventListener('change', function() {
        this.value = Math.abs(this.value);
  });
</script>