<h1>Result:</h1>
<p>The amount you would get from converting <%=@source%> to <%=@target%>is: <%= @result %> <%=@target%></p>
<div>
  <%= link_to "Calculate more", info_retrieval_currencies_path %>
</div>